@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Poppins:ital,wght@0,500;0,600;0,700;0,800;1,500&family=Roboto+Condensed:wght@100..900&display=swap');

/* Standards */
:root {
    --poppins: "Poppins";
    --lato: "Lato";
    --roboto: "Roboto Condensed";

    --color-01: #052659;
    --color-02: #5483b3;
    --color-03: #7da0ca;
    --color-04: #c1e9ff;
    --color-05: #1f1616;
    --color-06: #ffffff;
    --color-07: #eeeeee;
}

* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
}

html {
    scroll-behavior: smooth;
}

/* standard de encabezado de secciones */
.section-content {
    padding: 0 40px 0 40px;
}

.section-header {
    padding: 0 40px 0 40px;
}

.section-title {
    text-transform: capitalize;
    font-size: 2.8rem;
    font-family: var(--poppins);
    font-weight: 700;
}

.df {
    display: flex;
    align-items: center;
    justify-content: center;
}



.text-body {
    font-size: 1.2rem;
    font-family: var(--roboto);
    color: var(--color-05);
}


section {
    padding: 0 0 0 0;
}

/* standard de encabezado de secciones */


/* fondo gris wrapper general */
.fixed-header {
    position: sticky;
    top: 0;
    transition: transform 0.3s ease !important;
    /* Agregamos una transición suave */
    z-index: 9999;
}

.fixed-header.hidden {
    transform: translateY(-100%);
    /* Ocultar el header fuera de la vista */
}

/* encapsulado general */
.wrapper-header {
    display: flex;
    padding: 0 40px 0 40px;
    align-items: center;
}

/* nav que contiene la lista desordenada */
.navbar {
    background-color: var(--bg-01);
}

/* color de los enlaces + altura + fuente */
a.nav-link {
    color: var(--color-05);
    font-family: var(--lato);
    font-weight: 400;
    font-size: 1.1rem;
    border-radius: 5px;

    transition-property: color, background-color;
    transition-duration: .4s;
    transition-timing-function: ease-in;
}

/* color y animacion de los enlaces del header */
a.nav-link:hover {
    background-color: var(--color-05);
    color: var(--color-06);

    text-decoration: none;

    transition-property: color, background-color;
    transition-duration: .4s;
    transition-timing-function: ease-in;
}

/* espaciado del icono de idiomas */
a.icon-lord {
    margin: 5px 0 0 0;
}

/* centrado del logotipo de canoa */
.s-logo {
    display: flex;
    align-items: center;
}

b {
    color: var(--color-05);
}

/* separacion de los campos del formulario */
.formulario-de-contacto .input-text {
    margin: 0 0 3rem 0;
}

.text-wrapper {
    margin: 0 0 0 20px;
    padding: 20px 0 40px 0;
}

/* lateraciones de la fuente del boton del formulario */
.formulario-de-contacto button span {
    font-family: var(--roboto);
    font-weight: 600;
}

/* espaciado interno de secciones */
section.s-complemento-sobre-nosotros,
section.s-marcas {
    padding: 2.5rem 0 2.5rem 0;
}

/* espaciado interno de secciones */
section.s-contacto,
section.s-sobre-nosotros {
    background-color: #e5e5e5;
    padding: 5rem 0 5rem 0;
}

/* tamaño iconos del boton floating */
a i.icon-btn-floating {
    font-size: 1rem;
}

#row-brands img {
    max-width: 120px;
    max-height: 60px;
    height: auto;

    vertical-align: middle;
}

.text-direccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.test {
    border: 1px solid blue;
}

section .s-direccion {
    padding: 2.5rem 0;
}

section .map {
    height: 340px;

    display: flex;
    align-items: center !important;
}

section .map iframe {
    height: 339px;
}

@media only screen and (max-width: 600px) {

    .wrapper-header {
        display: flex;
        justify-content: center;

        margin: 2rem 0;
    }

    section.s-contacto,
    section.s-sobre-nosotros,
    section.s-direccion {
        padding: 2.5rem 0;
    }

    section.s-sobre-nosotros {
        text-align: center;
    }

    .section-title {
        text-align: center;
    }

    section .map iframe {
        height: auto;
    }

    section .map {
        padding: 2rem 0;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .text-direccion {
        padding: 2rem 0 0 0;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    section .map {
        padding: 2rem 0;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    section.s-sobre-nosotros {
        text-align: center;
    }

    section .map iframe {
        height: auto;
    }

    .text-direccion {
        padding: 2rem 0 0 0;
    }

    .text-body {
        text-align: center;
    }

    .wrapper-header {
        display: flex;
        justify-content: center;

        margin: 2rem 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .wrapper-header {
        display: flex;
        justify-content: center;

        margin: 2rem 0;
    }

    section.s-sobre-nosotros {
        text-align: center;
    }

    .text-body {
        text-align: center;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {}