@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Poppins:ital,wght@0,500;0,600;0,700;0,800;1,500&family=Roboto+Condensed:wght@100..900&display=swap');

/* Standards */
:root {
    --poppins: "Poppins";
    --lato: "Lato";
    --roboto: "Roboto Condensed";

    --color-01: #052659;
    --color-02: #5483b3;
    --color-03: #7da0ca;
    --color-04: #c1e9ff;
    --color-05: #1f1616;
    --color-06: #ffffff;
    --color-07: #eeeeee;
}

* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
}

html {
    scroll-behavior: smooth;
}

/* standard de encabezado de secciones */
.section-content {
    padding: 0 40px 0 40px;
}


.section-header {
    padding: 0 40px 0 40px;
}

.section-title {
    text-transform: capitalize;
    font-size: 200;
    font-family: var(--poppins);
    font-weight: 700;
}

.df {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-body {
    font-size: 1.2rem;
    font-family: var(--roboto);
}

/* standard de encabezado de secciones */


/* HEADER */

/* fondo gris wrapper general */
header {
    position: sticky;
    top: 0;
    z-index: 1;
}

/* encapsulado general */
.wrapper-header {
    display: flex;
    padding: 0 40px 0 40px;
    align-items: center;
}

/* nav que contiene la lista desordenada */
.navbar {
    background-color: var(--bg-01);
}

/* color de los enlaces + altura + fuente */
a.nav-link {
    color: var(--color-05);
    font-family: var(--lato);
    font-weight: 400;
    font-size: 1.2rem;

    transition: color .4s ease-in;
}

a.nav-link:hover {
    color: var(--color-01);
    transition: color .4s ease-in;
}

a.icon-lord {
    margin: 5px 0 0 0;
}

.s-logo {
    display: flex;
    align-items: center;
}